name: Manual Workflow Example

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Which environment to deploy'
        required: true
        default: 'staging'

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print environment
        run: echo "Deploying to ${{ github.event.inputs.environment }}"
